body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  background: url("logo.svg");
  width: 33px;
  height: 25px;
  /*background: rgba(0, 0, 0, 0.2);*/
  margin: 22px 10px 16px 10px;
  float: left;
}

.pl1 {
  background: #ffffff;
}

.pl2 {
  background: #c5eecd;
}

.pl3 {
  background: #fdea9b;
}

.pl4 {
  background: #fdc6cd;
}
